USE [master]
GO
/****** Object:  Database [GestaoIA]    Script Date: 08/04/2025 12:05:56 ******/
CREATE DATABASE [GestaoIA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GestaoIA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLVICTOR\MSSQL\DATA\GestaoIA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GestaoIA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLVICTOR\MSSQL\DATA\GestaoIA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GestaoIA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GestaoIA]
GO
/****** Object:  Table [dbo].[AnexosChamado]    Script Date: 08/04/2025 12:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnexosChamado](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDChamado] [int] NULL,
	[NomeArquivo] [nvarchar](255) NULL,
	[TipoArquivo] [nvarchar](100) NULL,
	[Dados] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Chamados]    Script Date: 08/04/2025 12:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chamados](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Descricao] [nvarchar](max) NOT NULL,
	[Status] [varchar](20) NULL,
	[Resposta] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 08/04/2025 12:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Usuario] [nvarchar](100) NULL,
	[Senha] [nvarchar](64) NULL,
	[TipoUsuario] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[Nome] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Chamados] ADD  DEFAULT ('Aberto') FOR [Status]
GO
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [DF_Usuario]  DEFAULT ('NovoUsuario') FOR [Usuario]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ('Usuário Padrão') FOR [Nome]
GO
ALTER TABLE [dbo].[AnexosChamado]  WITH CHECK ADD FOREIGN KEY([IDChamado])
REFERENCES [dbo].[Chamados] ([ID])
GO
USE [master]
GO
